  .errorStyle{
    color: red;
  }
  .inputStyle{
    width: 400px;
}
.createuser_Style_C{
  margin-left: 30px;
}
.bunstyle{
  margin-left:-50px;
}
.bunstyle1{
  margin-left:10px;
}
.trash_style{
  color:red;
  padding-left: 10px;
  cursor: pointer;
}
.edit_styles{
  color: green;
  cursor : pointer;
}
.searchInFilter{
  border: 0px !important;
  width: 95% !important;
  height: 25px !important;
}
.searchDropdown{
  background-color: #ffff !important;
  width: 100%;
}
.searchDropdown:hover{
  background-color: #ffff !important;
}
.dropdown-colmun{
  width: 100%;
}
.div-dropdown-item{
  width: 440px;
  overflow: hidden;
}
.dropdownItem-right{
  color:#050505;
  margin-right: 5px;
  margin-left: 5px;
}
.dropdownItem-left{
  color:#605c5c
}
.dropdownItemfilter{
  border-bottom: 1px solid gray !important;
  cursor: pointer;
  text-overflow: ellipsis;
}
.viewAdmissionNo{
  font-weight: bold;
  color: #333;
}
.searchInFilter{
  border: 0px !important;
  width: 95%;
  height: 25px;
}
.searchAdmissionCloseIcon{ 
  margin-top: -20px !important;   
}
.deleteAllUserStyles{
float: right !important;
}
.createuser_Style_B{
  color: rgb(33, 133, 208, 1);
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: auto;
  margin-bottom: 15px;
}
